@import "../../responsive.scss";

.profilePage {
  display: flex;
  height: 100%;
  margin-top: 70px;

  @include md{
    flex-direction: column;
    overflow: scroll;
  }

  .details {
    flex: 4;
    overflow-y: scroll;
    padding-bottom: 50px;

    @include md{
      flex:none;
      height: max-content;
    }

    .wrapper{
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .title{
        color: rgb(85, 84, 84);
        font-family: 'Roboto', sans-serif;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1{
          font-weight: 300;
        }

        button{
          padding: 12px 24px;
          background-color: #7380ba;
          cursor: pointer;
          border: none;
          color: #ffffff;
          font-size: 18px;
          border-radius: 5px;
        }
      }

      .info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 19px;
        background-color: #e7e6e6; // Fond blanc pour le cadre
        border: 1px solid #e0e0e0; // Bordure gris clair
        border-radius: 8px; // Coins arrondis
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Ombre légère
        padding: 20px; // Espacement interne
        color: #5d5a5a;
        
        .info span img {
          margin-right: 150px;
        }

        span{
          display: flex;
          align-items: center;
          gap: 20px;
          margin-left: 70px;
        }

        button{
          width: 100px;
          background-color: teal;
          border: none;
          color: white;
          padding: 10px 20px;
          cursor: pointer;
          border-radius: 5px;
          margin-left: 70px;
        }

        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
  .chatContainer {
    flex: 1.8;
    background-color: #e5e4e4;
    height: 60%;
    margin-left: 80px;
    border-radius: 15px;
    color: #5d5a5a;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    @include md{
      flex:none;
      height: max-content;
    }

    .wrapper{
      padding: 0px 20px;
      height: 100%;
    }
  }
}
